{% block menu %}
    <ul>
        <li><a href="{{ path('app_hellocontroller_hellopageun') }}">Changement1</a></li>
        <li><a href="{{ path('app_hellocontroller_hellopagedeux') }}">Changement2</a></li>
    </ul>
{% endblock %}